@model Dotnet.Models.Produtos


<h1>Apagar valor</h1>

<h5 style="color:red">Você tem certeza que quer fazer isso?</h5>
<hr/>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="btn-group">
            <input type="submit" value="Apagar" class="btn btn-danger" />
            <a class="btn btn-success" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>