@model Dotnet.Models.Produtos

<h1>Produto</h1>

<h4>
    Retornar à pagina de listagem : <a class="btn btn-outline-primary" type="button" asp-action="Index">Retornar</a>
</h4>
<hr>
<div>
    <p><strong>Nome :</strong> @Model.Name </p>
    <p><strong>Descrição :</strong> @Model.Description </p> 
</div>