@model Dotnet.Models.Produtos

<h1>Atualizer valores</h1>

<hr/>
<div>

    <form asp-action="Edit" class="form-group col-md-4">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name" class="control-label">Nome</label>
        <input class="form-control" type="text" asp-for="Name" />
        <label asp-for="Description" class="control-label">Descrição</label>
        <textarea rows="4" class="form-control" asp-for="Description"></textarea>
        <div class="form-group mt-3">
            <input type="submit" value="Atualizar" class="btn btn-warning" />
            <a class="btn btn-primary"  asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>